#projectsPage{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .project-card{
    margin:25px;
    border: solid lightblue;
    }

  .links{
    display: flex;
    flex-direction: column;
    text-align: center;
  }