html, body {
  height: 100%;
}

body{
flex: 1;  
display: flex;
flex-direction: column;
}

.content {
  flex: 1 0 auto;
} 

footer{
  flex-shrink: 0;
  text-align: center;
  color:white;
  width: 100%;
  background-color: black;
}

.fab{
  margin:10px;
}



/* #projectsPage{
  flex-wrap: wrap;
  } */

  .project-card{
    margin:25px;
    border: 1px solid black;  
  }

  .card-title{
    font-weight: bold
  }
  

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dodgerblue;
}

#navLinks a {
  margin: 1em;
  color:black;
}

.rlinks{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}

#myName{
  margin:15px
}


 /* .fullPage{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.hidden{
  display: none;
}

.bio{
  margin: 25px;
}

#projectsPage{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
